{{#if removedUser}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  Мэдээлэл устгагдлаа!
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

<div class="row">
  <div class="col-6">
    <h1>Сурагчийн мэдээлэл</h1>
  </div>
  <div class="col-6 d-flex justify-content-end">
    <a href="/adduser" type="button" class="btn btn-primary align-self-center">+ Сурагч бүртгэх</a>
  </div>
</div>

<table class="table table-bordered table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Овог</th>
      <th scope="col">Нэр</th>
      <th scope="col">Имэйл</th>
      <th scope="col">Утас</th>
      <th scope="col" class="text-end">Үйлдэл</th>
    </tr>
  </thead>
  <tbody>

    {{#each rows}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.first_name}}</td>
      <td>{{this.last_name}}</td>
      <td>{{this.email}}</td>
      <td>{{this.phone}}</td>
      <td class="text-end">
        <a href="/viewuser/{{this.id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-eye"></i> Дэлгэрэнгүй</a>
        <a href="/edituser/{{this.id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-pencil"></i>
          Өөрчлөх</a>
        <a href="/{{this.id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-person-x"></i> Устгах</a>
      </td>
    </tr>
    {{/each}}

  </tbody>
</table>